.plant-details-header {
  background-image: url('../assets/sunset.png');
}

#section--3 {
  background-color: rgba(0, 0, 0, 0.644);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#video-label {
  color: white;
  font-size: 3.5rem;
  padding: 0 0 4.5rem 0;
}

iframe {
  width: 60vw;
  height: calc(60vw * 0.5625);
}


.table {
  font-size: 1.5rem;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.664);
  border-collapse: collapse;
  line-height: 1.9rem;
}

.table-title {
  width: 100%;
  font-size: 3rem;
  border-collapse: collapse;
  color: var(--primary-green);
  font-weight: 600;
}

td {
  border: 1px solid rgba(128, 128, 128, 0.664);
  border-collapse: collapse;
  padding: 8px;
}

.row-label {
  width: 15%;
  font-weight: 600;
}

.align-center {
  padding: 16px;
  text-align: center;
}

.reference {
  display: flex;
  width: 100%;
  align-content: flex-end;
  margin-left: auto;
  text-decoration: none;
  color: var(--primary-green);
  margin-top: 8px;
}
